<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里对dao层接口的实现-->
<mapper namespace="com.bookstore.dao.AdminDao"><!--namespace  后面接的是接口路径-->
    <select id="selectAdmin" resultType="Admin" parameterType="String"><!--id要和dao层接口里面的方法名相同 ， resultType 是返回类型，parameterType是传入参数的类型-->
        select *
        from Admin
        where username = #{username}
    </select>

    <insert id="insertAdmin">
        insert into Admin(username, password, manager)
        value(#{username},#{password},0)
    </insert>

    <select id="getAdminById" resultType="Admin" parameterType="int">
        select *
        from admin
        where id = #{id}
    </select>

</mapper>